*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background:white;
    border-bottom: 2px solid #eee;
}
.logo{
    color: #0054a5;
    font-size: 28px;
    font-weight: bold;
}
.menu{
    display: flex;
    gap: 25px;
    list-style: none;
    font-size: 14px;
}
.menu li{
    cursor: pointer;
    padding: 5px 8px;
}
.btn{
    background: #ff2b55;
    border:none;
    color:white;
    padding: 10px 18px;
    border-radius: 5px;
    cursor:pointer;
    font-size: 14px;
}
.top-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px;
    background: white;
}
.card{
    background: #ff2b55;
    color:white;
    text-align: center;
    padding: 20px;
}
.card img{
    width: 150px;
    height:150px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 50%;
}
.card h3{
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 1px;
}
.card p{
    font-size: 14px;
    margin-bottom: 15px;
}
.card button{
    background: white;
    color:#ff2b55;
    border:none;
    padding: 8px 18px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.mid-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px;
    padding: 40px;
    background: white;
}
.mid-card{
    padding: 25px;
    border: 1px solid white;
    text-align: left;
}
.mid-card img{
    width: 50px;
    margin-bottom: 15px;;
}
.mid-card h3{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;

}
.mid card p{
    font-size: 14px;
    margin-bottom: 12px;
    color: #444;
}
.mid-card span{
    color: #d32f2f;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}
.bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px;
    background: #fff;
    gap: 40px;
}

.phones {
    display: flex;
    gap: 20px;
}

.phones img {
    width: 200px;
}

.bottom-text h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.bottom-text p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #444;
}

.stores {
    display: flex;
    gap: 20px;
}

.stores img {
    width: 140px;
    cursor: pointer;
}